<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
    rel="stylesheet"
    href="/assets/styles.css"
  />
  <title>{{site_name}}</title>
</head>
<body>
  <div class="site">
    <div class="title">
      <a href="/">{{site_name}}</a>
    </div>
    <main id="home">
      {% block content %}{% endblock %}
    </main>
    <footer class="footer">
      <div class="contact">
        <p>
          {{site_name}}
          <br />
          <a href="mailto:{{email}}">{{email}}</a>
        </p>
      </div>
    </footer>
  </div>
</body>
</html>
